@charset "utf-8";
/* CSS PC */
@media all and (min-width: 1024px){
/*显示与隐藏*/
.pdis{display:block;}
.idis{ display:none;}
.mdis{display:none;}


.OverallMain{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	overflow: scroll;
}
.OverallMain ::-webkit-scrollbar {
		  width: 6px;
}
.OverallMain ::-webkit-scrollbar-track {
		  background-color: #E6E6E6;
	} /* 滚动条的滑轨背景颜色 */

.OverallMain ::-webkit-scrollbar-thumb {
		  background-color: rgba(0, 0, 0, 0.5); 
	} /* 滑块颜色 */

.OverallMain ::-webkit-scrollbar-button {
		  background-color: #C5C5C5;
	} /* 滑轨两头的监听按钮颜色 */



/*全局框的大小*/
.WebMainWidth{
	width:1060px;
	height:2000px;
	margin:45px auto 0 auto;
}

/*==========================================================================头部内容开始======*/
header{
	width:100%;
	height:45px;
	background: rgba(255,255,255, 0.98);
	position:fixed; 
	top:0;
	left:0;
	z-index:99998;
}
header nav{
	width:92%;
	height:45px;
	margin:0 auto;
}
header nav .logo{
	display:block;
	float:left;
	height:45px;
}
header nav .logo img{
	height:100%;
}
header nav .navIco{
	display:none;
	width:45px;
	height:45px;
	float:right;
}
/*顶部导航*/
header nav .mainNav{
	height:45px;
	float:right;
}
header nav .mainNav .navIco2{
	display:none;
}
header nav .mainNav .mclass{
	display:block;
	margin-left:10px;
	height:45px;
	float:left;
	position:relative;
	transition-duration:0.2s;
	cursor:pointer;
}
header nav .mainNav .mclass:hover{
	background-color:#E7E7E7;
}

header nav .mainNav .mclass .mn{
	display:block;
	height:45px;
	padding:0 10px;
	font:15px/45px 'microsoft yahei';
	color:#2B2B2B;
	cursor:pointer;
}

header nav .mainNav .mclass ul{
	display:none;
	height:auto;
	width:120px;
	padding:8px 0;
	position:absolute;
	top:45px;
	background-color:#fff;
	right:0;
	float:right;
	z-index:99999;
}
header nav .mainNav .mclass:hover ul{
	display:block;
}
header nav .mainNav .mclass ul li{
	display:block;
	width:100%;
	height:34px;
	font:14px/34px 'microsoft yahei';
	text-align:center;
	transition-duration:0.2s;
}

header nav .mainNav .mclass ul li a{
	color:#000;
}
header nav .mainNav .mclass ul li:hover{
	background-color:#333;
}
header nav .mainNav .mclass ul li a:hover{
	color:#fff;
}
/*==========================================================================头部内容结束======*/


/*---背景+搜索框+LOGO S---*/
.topSO{
	width:1060px;
	height:280px;
	margin:0 auto;
	padding-top:100px;
	padding-bottom:40px;
}
.topSO .ctxt{
	width:100%;
	height:200px;
}
.topSO .ctxt h2{
	display:block;
	width:100%;
	height:90px;
	font:18px/80px 'microsoft yahei';
	text-align:center;
	color:#E6E6E6;
}
/*倒计时*/
.topSO .ctxt .CountDown{
	width:400px;
	height:100px;
	margin:0 auto;
}
.topSO .ctxt .CountDown .name{
	width:100%;
	height:40px;
	font:16px/40px 'microsoft yahei';
	color:#63B8E0;
	text-align:center;
}
.topSO .ctxt .CountDown .time{
	width:100%;
	height:60px;
	text-align:center;
}
.topSO .ctxt .CountDown .time > span{
	display:inline-block;
	height:40px;
	margin:0 2px;
	
}
.topSO .ctxt .CountDown .time .t{
	background: rgba(22,109,185, 0.4);
	font:24px/40px 'microsoft yahei';
	color:#fff;
	border-radius:10px;
	padding:0 10px;
}
.topSO .ctxt .CountDown .time .d{
	font:16px/40px 'microsoft yahei';
	color:#D4D4D4;
	border-radius:10px;
	padding:0 5px;
}

.topSO .searchF{
	width:588px;
	height:44px;
	background-color:#FFF;
	margin:0px auto 0 auto;
	border-radius:5px;
	position:relative;
}
.topSO .searchF .textKey{
	border:0;outline:none;
    border-radius: 2px;
    color: #000;
	background-color:transparent;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    height: 44px;
    padding: 0 16px;
    transition: background 0.3s ease-in-out;
    width: 380px;
	float:left;
}
.topSO .searchF .soBut{
	-webkit-appearance: none;
    background: #0088ff;
    border: none;
    cursor: pointer;
	width:80px;
    height: 44px;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
	font:18px/44px 'microsoft yahei';
	float:right;
	border-radius: 0 5px 5px 0px;
	color:#fff;
}
.topSO .searchF .txt{
	width:96px;
	height:44px;
	font:14px/44px 'microsoft yahei';
	color:#333;
	position:absolute;
	top:0px;
	right:80px;
}
.topSO .searchF .soBut:hover{
	background: #047ce5;
}
/*---背景+搜索框+LOGO E---*/

/*--培训项目 S--*/
.TrainItem{
	width:1060px;
	height:auto;
	margin:20px auto 0 auto;
	text-align:center;
}
.TrainItem > .item{
	display:inline-block;
	width:128px;
	height:150px;
}
.TrainItem > .item .ico{
	width:90px;
	height:90px;
	border-radius:48px;
	overflow:hidden;
	margin:5px auto;
	background-color:#F0F0F0;
	border:4px solid #E3E3E3;
	position:relative;
}
.TrainItem > .item .ico img{
	display:block;
	width:90px;
	height:90px;
	position:absolute;
	top:0px;
	left:0px;
	transition-duration:0.2s;
}
.TrainItem > .item:hover .ico img{
	width:110px;
	height:110px;
	position:absolute;
	top:-10px;
	left:-10px;
}
.TrainItem > .item .title{
	width:100%;
	height:45px;
	text-align:center;
	font:15px/45px 'microsoft yahei';
	color:#FFF;
}
/*--培训项目 E--*/

/*--视频 S--*/
.videoCon{
	width:1060px;
	height:540px;
	margin:60px auto 30px auto;
}
.videoCon .name{
	width:100%;
	height:60px;
	font:30px/80px 'microsoft yahei';
	letter-spacing:6px;
	color:#FFF;
	text-align:center;
}
.videoCon .videoF{
	width:700px;
	height:430px;
	background-color:#CCC;
	margin:20px auto 0px auto;
}
.videoCon .videoF iframe{
	width:700px;
	height:430px;
}
/*--视频 E--*/

/*----资讯类别 S----*/
.txtList{
	width:1017px;
	height:auto;
	overflow:hidden;
	padding:20px 20px 20px 23px;
	margin:0 auto;
	background: rgba(9,54,93, 0.4);
	border-radius:5px;
	position:relative;
}
.txtList .left{
	width:700px;
	height:auto;
	overflow:hidden;
	float:left;
}
/*-----tab s-----*/
#tabBox{
	width:100%;
	height:auto;
	overflow:hidden;
}
#tabBox #tab_list{
	width:100%;
	height:50px;
	background: rgba(9,54,93, 0.8);
	border-radius:25px;
}
/*当前位置 S*/
#tabBox #curPos{
	width:100%;
	height:50px;
	background: rgba(9,54,93, 0.8);
	border-radius:25px;
}
#tabBox #curPos span{
	display:block;
	float:left;
	height:50px;
	font:14px/50px 'microsoft yahei';
	color:#FFF;
	margin-left:15px;
}
#tabBox #curPos a{
	display:block;
	float:left;
	height:50px;
	font:14px/50px 'microsoft yahei';
	color:#FFF;
	margin-left:8px;
}
#tabBox #curPos dl{
	display:block;
	float:left;
	height:50px;
	font:14px/50px 'microsoft yahei';
	color:#CACACA;
	margin-left:8px;
}
/*当前位置 E*/
#tabBox #tab_list a{
	display:block;
	width:25%;
	height:50px;
	float:left;
	font:18px/50px 'microsoft yahei';
	color:#fff;
	text-align:center;
	cursor:pointer;
	border-radius:25px;
	transition-duration:0.2s;
}
#tabBox #tab_list a:hover{
	background: rgba(255,255,255, 0.1);
	border-radius:25px;
	color:#fff;
}
#tabBox #tab_list .active{
	background: rgba(255,255,255, 0.3);
}
#tabBox #tabMenu_content{
	wdith:100%;
	height:auto;
	overflow:hidden;
	margin:20px auto 0 auto;
}
#tabBox #tabMenu_content .list{
	width:100%;
	height:auto;
	overflow:hidden;
	color:#D5D5D5;
}
#tabBox #tabMenu_content .list .item{
	display:block;
	width:100%;
	height:atuo;
	overflow:hidden;
	border-bottom:1px dotted #494949;
	margin-bottom:20px;
}
#tabBox #tabMenu_content .list .item .pic{
	display:block;
	width:155px;
	height:140px;
	overflow:hidden;
	float:left;
	position:relative;
	background-color:#000;
}
#tabBox #tabMenu_content .list .item .pic img{
	display:block;
	width:156px;
	height:140px;
	position:absolute;
	top:0;
	left:0;
	transition-duration: 0.2s;
	filter:alpha(opacity=80);     /*IE6下透明，值0-100*/
  -moz-opacity:0.8;               /*老版本Mozilla浏览器下透明，值0-1*/
  -khtml-opacity: 0.8;            /*老版本的Safari浏览器下透明，值0-1*/
  opacity: 0.8;
}
#tabBox #tabMenu_content .list .item:hover .pic img{
	width:166px;
	height:150px;
	top:-5px;
	left:-8px;
	filter:alpha(opacity=100);     /*IE6下透明，值0-100*/
  -moz-opacity:1;               /*老版本Mozilla浏览器下透明，值0-1*/
  -khtml-opacity: 1;            /*老版本的Safari浏览器下透明，值0-1*/
  opacity: 1;
}
#tabBox #tabMenu_content .list .item .info{
	display:block;
	float:right;
}
#tabBox #tabMenu_content .list .item .tuw{
	width:520px;
	height:140px;
}
#tabBox #tabMenu_content .list .item .now{
	width:100%;
	height:100px;
}
#tabBox #tabMenu_content .list .item .info h2{
	display:block;
	width:100%;
	overflow:hidden;
	color:#FFF;
	padding-bottom:10px;
	font:24px/35px 'microsoft yahei';
	transition-duration: 0.2s;
}
#tabBox #tabMenu_content .list .item:hover .info h2{
	color:#e1dede;
}
#tabBox #tabMenu_content .list .item .info h3{
	display:block;
	width:100%;
	height:58px;
	overflow:hidden;
	font:14px/20px 'microsoft yahei';
	color:#c3c1c1;
}
#tabBox #tabMenu_content .list .item .ViceInfo{
	display:block;
	width:100%;
	height:40px;
	clear:both;
}
#tabBox #tabMenu_content .list .item .ViceInfo em{
	display:block;
	float:left;
	padding:0 30px 0 0;
	font:14px/40px 'microsoft yahei';
	color:#8f8e8e;
}
#tabBox #tabMenu_content .list .item .ViceInfo i{
	display:block;
	width:30px;
	height:40px;
	font-size: 18px;
	color:#8f8e8e;
	line-height:40px;
	float:right;
	transition-duration:0.2s;
}
#tabBox #tabMenu_content .list .item:hover .ViceInfo i{
	width:20px;
	color:#fff;
}
/*-----VIST-----*/
#tabBox #tabMenu_content h1{
	display:block;
	width:100%;
	height:auto;
	color:#FFF;
	font:24px/36px 'microsoft yahei';
	text-align:center;
	padding:0 0 15px 0;
	border-bottom:1px dotted #494949;
}
#tabBox #tabMenu_content .info{
	width:100%;
	height:30px;
}
#tabBox #tabMenu_content .info span{
	display:block;
	float:left;
	height:30px;
	font:14px/26px 'microsoft yahei';
	color:#ADADAD;
	margin-right:10px;
}
#tabBox #tabMenu_content .content{
	width:100%;
	height:auto;
	overflow:hidden;
	margin-top:10px;
	font:16px/26px 'microsoft yahei';
	color:#FFF;
}
#tabBox #tabMenu_content .content img{
display:block;
max-width:680px;
height:auto;
margin:10px auto;
zoom:expression( function(elm)
       {     if (elm.width>680) 
               {  var oldVW = elm.width; elm.width=680;             
                   elm.height = elm.height*(680 /oldVW);        
                }         elm.style.zoom = '1';     
      }
(this));
}
#tabBox #tabMenu_content .content p{
	margin:10px 0;
}
#tabBox #tabMenu_content .content a{
	color:#3FF;
}
/*-----tab e-----*/

.txtList .right{
	width:270px;
	height:atuo;
	overflow:hidden;
	float:right;
}
.txtList .right .ad{
	display:block;
	width:270px;
	height:auto;
	overflow:hidden;
	margin:25px auto 10px auto;
}
.txtList .right .ad img{
	width:270px;
	height:auto;
}
.txtList .right .btname{
	width:100%;
	height:50px;
	font:16px/50px 'microsoft yahei';
	color:#fff;
}
.txtList .right .alist{
	display:block;
	width:100%;
	height:30px;
	margin:10px 0;
}
.txtList .right .alist em{
	display:block;
	width:20px;
	height:20px;
	margin-top:5px;
	font:14px/20px 'microsoft yahei';
	color:#fff;
	float:left;
	background: rgba(255,255,255, 0.2);
	text-align:center;
}
.txtList .right .alist span{
	display:block;
	width:240px;
	height:30px;
	font:14px/30px 'microsoft yahei';
	color:#a4a4a4;
	float:right;
	overflow:hidden;
	transition-duration: 0.2s;
}
.txtList .right .alist:hover span{
	color:#fff;
}
.txtList .right .glist{
	display:block;
	width:100%;
	height:30px;
	margin:10px 0;
}
.txtList .right .glist i{
	display:block;
	width:20px;
	height:20px;
	margin-top:5px;
	font:10px/20px 'microsoft yahei';
	color:#939292;
	float:left;
	text-align:center;
	transition-duration: 0.2s;
}
.txtList .right .glist span{
	display:block;
	width:240px;
	height:30px;
	font:14px/30px 'microsoft yahei';
	color:#d3d1d1;
	float:right;
	overflow:hidden;
	transition-duration: 0.2s;
}
.txtList .right .glist:hover i{
	font:12px/20px 'microsoft yahei';
	color:#fff;
}
.txtList .right .glist:hover span{
	color:#fff;
}







/*----资讯类别 E----*/

.PclassList{
	width:1060px;
	height:auto;
	margin:10px auto;
	text-align:center;
}
.PclassList > a{
	display:inline-block;
	height:35px;
	padding:0 15px;
	margin:4px 5px;
	background: rgba(255,255,255, 0.05);
	font:14px/35px 'microsoft yahei';
	color:#fff;
}
.PclassList > a:hover{
	background: rgba(255,255,255, 0.2);
}
.PclassList > .cur{
	background: rgba(255,255,255, 1);
	color:#111;
}
.PclassList > .cur:hover{color:#fff;}

/*----imgList---*/
.pageName{
	
	width:200px;
	height:50px;
	border-radius:25px;
	text-align:center;
	background: rgba(255,255,255, 0.1);
	font:16px/50px 'microsoft yahei';
	color:#fff;
	margin:0 auto;
}
.imgList{
	width:1060px;
	height:auto;
	overflow:hidden;
	padding:20px 0px 20px 0px;
	margin:0 auto;
	border-radius:5px;
	position:relative;
	text-align:center;
}
.imgList > .item{
	display:inline-block;
	width:248px;
	height:250px;
	border:1px solid #fff;
	overflow:hidden;
	background-color:#FFC;
	margin:8px 6px;
	position:relative;
}
.imgList > .item img{
	display:block;
	width:248px;
	position:absolute;
	top:0;
	left:0;
	z-index:9;
}
.imgList > .item .info{
	width:248px;
	height:50px;
	background-color:#fff;
	position:absolute;
	bottom:0;
	left:0;
	z-index:10;
	transition-duration:0.2s;
}
.imgList > .item:hover .info{
	height:90px;
}
.imgList > .item .info .title{
	width:228px;
	height:50px;
	padding:0 10px;
	overflow:hidden;
	font:15px/50px 'microsoft yahei';
	color:#000;
	text-align:center;
	border-bottom:1px solid #E8E8E8;
}
.imgList > .item .info .fu{
	width:228px;
	padding:0 10px;
	height:30px;
}
.imgList > .item .info .fu em{
	display:block;
	height:30px;
	float:right;
	font:12px/20px 'microsoft yahei';
	color:#666;
}
.imgList > .item .info .fu span{
	display:block;
	height:30px;
	float:left;
	font:12px/20px 'microsoft yahei';
	color:#666;
}
/*----imgList---*/

/*----二维码展示 S----*/
.ewmShow{
	width:1060px;
	height:200px;
	margin:60px auto 20px auto;
	text-align:center;
}
.ewmShow > .es{
	display:inline-block;
	width:200px;
	height:200px;
	margin:0 20px;
}
.ewmShow > .es img{
	display:block;
	width:150px;
	height:150px;
	margin:0 auto;
}
.ewmShow > .es span{
	display:block;
	width:150px;
	height:30px;
	margin:10px auto 0 auto;
	font:14px/30px 'microsoft yahei';
	text-align:center;
	background: rgba(255,255,255, 0.1);
	border-radius:15px;
	color:#fff;
}
/*----二维码展示 E----*/


/*footer*/
footer{
	width:100%;
	height:100px;
	background: rgba(255,255,255, 0.1);
}
footer .fdiv{
	width:1060px;
	height:100px;
	margin:0 auto;
}
footer .fdiv .fleft{
	width:60%;
	height:100px;
	float:left;
}
footer .fdiv .fleft a{color:#E1E1E1;}
footer .fdiv .fleft dl{
	width:100%;
	height:auto;
	font:14px/22px 'microsoft yahei';
	padding-top:15px;
	color:#AAA;
}
footer .fdiv .fleft dl p{
	padding:0;margin:0;
}
footer .fdiv .fright{
	width:38%;
	height:100px;
	float:right;
}
footer .fdiv .fright .telname{
	width:100%;
	height:40px;
	font:15px/50px 'microsoft yahei';
	color:#c5c6c7;
	text-align:right;
}
footer .fdiv .fright .tel{
	display:block;
	width:100%;
	height:60px;
	font:35px/50px 'microsoft yahei';
	font-style:italic;
	color:#FFF;
	text-align:right;
}


/*-----Page S-----*/
.pageType-6{
	width:100%;
	height:40px;
	margin:20px auto;
}
.pageType-6 ul{
	display:block;
	width:100%;
	height:auto;
	margin:0 auto;
	text-align:center;
}
.pageType-6 ul li{
	display:inline-block;
	height:40px;
	margin:0 2px;
}
.pageType-6 ul .curpage{
	display:none;
}
.pageType-6 ul .pagenum{
	display:none;
}
.pageType-6 ul li a{
	display:block;
	height:40px;
	margin:0 3px;
	padding:0 15px;
	border-radius:20px;
	background-color:#EAEAEA;
	font-size: 15px;
	line-height:40px;
	height:40px;
	color:#151515;
}
.pageType-6 ul li a:hover{
	background-color:#06F;
	color:#fff;
}
.pageType-6 ul li span{
  display:block;
  height:40px;
  margin:0 3px;
  padding:0 20px;
  border-radius:20px;
  background:rgba(255,255,255,0.1);
  font-size: 15px;
  line-height:40px;
  height:40px;
  color:#fff;
  cursor:pointer;
}
.pageType-6 ul .pageRemark{
	margin-left:10px;
	color:#FFF;
	font:14px/40px 'microsoft yahei';
}
.pageType-6 ul .pageRemark b{
	font:16px/40px 'microsoft yahei';
	font-weight: bold;
	color:#F60;
}
/*-----Page E-----*/

.noData{
	display:block;
	width:100%;
	height:50px;
	font:18px/50px 'microsoft yahei';
	color:#CCC;
	text-align:center;
}

}