<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SchoolNews_web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>userLoginController</servlet-name>
    <servlet-class>servlets.userLoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usuallyController</servlet-name>
    <servlet-class>servlets.usuallyController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userRegisterController</servlet-name>
    <servlet-class>servlets.userRegisterController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>retrivePasswordController</servlet-name>
    <servlet-class>servlets.retrivePasswordController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uploadFile</servlet-name>
    <servlet-class>servlets.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>downLoadFile</servlet-name>
    <servlet-class>servlets.DownLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>messageController</servlet-name>
    <servlet-class>servlets.MessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLoginController</servlet-name>
    <url-pattern>/userLoginController</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>usuallyController</servlet-name>
    <url-pattern>/usuallyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userRegisterController</servlet-name>
    <url-pattern>/userRegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>retrivePasswordController</servlet-name>
    <url-pattern>/retrivePasswordController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadFile</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>downLoadFile</servlet-name>
    <url-pattern>/downLoadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>messageController</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
</web-app>